#wrapper{
    width: 960px;
}

.marginAutoCenter{
    margin-right: auto;
    margin-left: auto;
}
#menElement{
    height:100px;
    line-height: 100px;
    text-align: right;
    width:860px;
}
#logo{
    width: 100px
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.displayInline{
    display: inline;
}
.marginClear{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top:0px;
}
.paddingClear{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top:0px;
}