#wrapper{
    width: 960px;
}

#menElement{
    height:130px;
    line-height: 130px;
    text-align: right;
    width:860px;
}
#logo{
    width: 100px
}
#banner{
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");
    background-size: cover;
    width: 960px;
    height: 554px;
}
#bannerWordingOne{
    color: white;
    padding-left: 50px;
    padding-top: 111px;
}
#bannerWordingTwo{
    color:blue;
    padding-left: 304px;
    padding-top: 0px;
}
#footer{
    height: 100px;
    line-height: 100px;
    width: 960px;
    text-align: center;
    background-color: black;
}
#copyRightText{
    font-size: 130%;
    color: white;
}
#leftBar{
    border: 1px black solid;
    width: 331px;
    height: 400px;
}
#leftBarImage{
    padding-left: 20px;
    padding-top: 20px;
}
#subHead{
    padding-left: 17px;
    height: 32px;
    font-size: 79%;
}
#imgSubheadingWords{
    font-size: 100%;
    padding-left: 17px;
}
.marginAutoCenter{
    margin-right: auto;
    margin-left: auto;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.displayInline{
    display: inline;
}
.marginClear{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top:0px;
}
.paddingClear{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top:0px;
}
