#wrapper{
    width: 960px;
    font-family: sans-serif;
}

#menElement{
    height:130px;
    line-height: 130px;
    text-align: right;
    width:860px;
}
#logo{
    width: 100px
}
#banner{
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");
    background-size: cover;
    width: 960px;
    height: 554px;
    position: relative;
}
#bannerShaded{
    width: 480px;
    background-color: black;
    opacity: 0.5;
}
#bannerWordingOne{
    color: white;
    padding-left: 30px;
    padding-top: 111px;
    position: fixed;
    font-size: 95%;
}
#bannerWordingTwo{
    color:blue;
    padding-left: 286px;
    padding-top: 155px;
    position: fixed;

}
#translucentPart {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
#footer{
    height: 100px;
    line-height: 100px;
    width: 960px;
    background-color: black;
}
#copyRightText{
    font-size: 130%;
    color: white;
}
#leftBar{
    width: 331px;
    height: 325px;
}
#leftBarImage{
    padding-left: 20px;
    padding-top: 20px;
}
#subHead{
    padding-left: 17px;
    height: 32px;
    font-size: 79%;
}
#imgSubheadingWords{
    font-size: 100%;
    padding-left: 17px;
}
#rightSideBar{
    padding-left: 25px;
    height: 550px;
    width: 590px;
}
#rightHeading{
    font-size: 130%;
}
#rightSideText{
    padding-left: 42px;
}
#table{
    padding-left: 200px;
    padding-top: 15px;
}

.border{
    border: 1px black solid;
}
.textAlignCenter{
    text-align: center;
}
.marginAutoCenter{
    margin-right: auto;
    margin-left: auto;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.displayInline{
    display: inline;
}
.marginClear{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top:0px;
}
.paddingClear{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top:0px;
}
